#hero-section{
    background: url(https://andit.co/projects/html/and-tour/demo/assets/img/home-nine/common/banner-nine.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}